body{
backgraund: #CCCCCC;
}

#banner {
}

h1{
text-aling: center;
}
p {
  texte-aling: center ;
}
em strong {
  color: red;
}
#missão {
  fonte-seze: 20px;
}


em strong { 
color: #FF0000;
}

.itens {
font-style: italic:
}
